# Environments
.env
.venv
env/
venv/
ENV/
logs/

# Cache
__pycache__/
.ruff_cache/
.pytest_cache/

# Data
raw_data/
data_requirements.txt
data/chroma_db_default_emb
data/queries.db


# Drafts
drafts/

# Logs
logs/

# Miscellaneous
Notes_for_myself.md
question_research.md

alwai_project.egg-info/
todo.md

data/data_preprocessing.ipynb